<section class="vbox">
    <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    <li class="menuitem" id="Sellerorders"><a href="/SellerProducts/EditProfile"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>پنل اطلاعات هنرمند</span></a></li>
                    <li class="menuitem" id="SellerProducts"><a href="/SellerProducts"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>پنل مدیریت اثر</span></a></li>
                    <li class="menuitem" id="Sellerorders"><a href="/Sellerorders"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>پنل سفارشات</span></a></li>

                </ul>

            </nav>
        </div>
    </section>
</section>
